# Compiled class files
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse files
.settings/
.classpath
.project
bin/

# NetBeans files
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code files
.vscode/

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle files
.gradle/
build/

# Mac OS
.DS_Store

# Windows
Thumbs.db
